body {
    font-family: 'Arial', sans-serif;
}
.title {
    font-size: 1.30em;
}

.button {
    background: white;
    border-radius: 8px;
    display: flex;
    border-color: rgb(206, 202, 202);

}

.button-text {
    font-weight: 600;
    padding-right: 1em;
}

.button-icon {
    padding-left: 1em;
    color: darkgray;
}

.last-button {
    padding: 0 5em;
    background: rgb(34, 125, 215);
    border-radius: 8px;
    border-color: rgb(34, 125, 215);
    color: whitesmoke;
}